
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form method="post">
    <div> 
        <div>
            <label>usuario</label>
            <input type="text" name="apellido" />
        </div>
        <div>
            <label>Password</label>
            <input type="text" name="empno" />
        </div>
        <div>
            <button type="submit">Enviar</button>
        </div>
    </div>
</form>
<h2 style="color:rebeccapurple">@ViewBag.Mensaje</h2>

